@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

/* NAVIGATION STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24252A;
}

header * {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    width: 65px;
    height: 65px;
    cursor: pointer;
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: cover;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #6081AC;
}

.contactBtn {
    padding: 9px 25px;
    background-color: rgba(96, 129, 172, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navLinks li .contactBtn:hover {
    background-color: rgba(96, 129, 172, 0.8);
    color: #edf0f1;
}

/* -------------------- */


/* SHOWCASE STYLES */

#showcase {
    font-family: "Montserrat", sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edf0f1;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
    align-self: flex-start;
}

/* IMAGE - SOCIAL MEDIA LINKS */

.socialImg {
    background-color: #edf0f1;
    width: 100%;
    height: 300px;
    display: inline-block;
    background-image: url(../images/showcase.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MENUBAR LINKS */

.menuBar {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.menuLinks {
    display: flex;
    padding-top: 18px;
}

.menuLinks .menuLink {
    margin: 0 5px;
    padding: 9px 32px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.menuLink .fa-circle {
    padding: 5px 0;
    font-size: 5px;
}

.menuLinks .menuLink:hover {
    color: #6081AC;
}

.linkActive {
    color: #6081AC;
}

.menuLinks span .fas {
    font-size: 19px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.socialIcon {
    list-style: none;
    padding: 15px 5px;
    font-size: 18px;
}

.iconDot {
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #6081AC;
}

.socialIcon a {
    text-decoration: none;
    color: white;
}

.socialIcon .fab {
    transition: all 0.3s ease 0s;
}

.socialIcon .fa-facebook-f:hover {
    color: #1775f1;
}

.socialIcon .fa-twitter:hover {
    color: #1aa0f0
}

.socialIcon .fa-instagram:hover {
    color: #4e5bcb;
}

.socialIcon .fa-linkedin-in:hover {
    color: #016295;
}

@media (max-width:776px) {
    .menuBar {
        align-self: center;
        margin-bottom: 10px;
    }
    
}

/* CONTENT */

.info .content {
    display: flex;
    justify-content: space-between;
}

/* INFO SECTION*/

/* RESUME */

.resume {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
}

.resume * {
    margin: 0;
}

.resume .title {
    font-size: 64px;
    letter-spacing: 5px;
    padding: 10px 0;
}

.resume .text {
    font-size: 18px;
    margin-bottom: 40px;
}

.resume .download {
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
    padding: 10px 18px;
    border-radius: 50px;
    border: 1px solid #6081AC;
    background-color: #6081AC;
    transition: all 0.3s ease 0s;
}

.resume .download:hover {
    background-color: rgba(96, 129, 172, 0.8);
}

@media (max-width:1050px) {
    #infoSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resume {
        display: flex;
        flex-direction: column;
    }

    .resume * {
        text-align: center;
    }

    .resume .text {
        margin-bottom: 20px;
    }

    .resume .download {
        align-self: center;
    }
}

@media (max-width: 450px) {
    
    .resume .title {
        font-size: 44px;
    }
}

/* TECHNOLOGIES */

.techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: #2F425B;
    border-radius: 20px;
}

.techs p {
    text-align: center;
    font-size: 18px;
}

.techs .techIcons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 30px;
}

.techs .techIcons li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.techs .techIcons .icon {
    font-size: 36px;
    padding-bottom: 10px;
}

@media (max-width: 1050px) {
    .techs {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .techs {
        width: 300px;
        height: 150px;
        margin-top: 20px;
    }
}

/* -------------------- */

/* ABOUT SECTION */

/* EXPERIENCE */


.experience {
    width: 700px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.experience h2 {
    font-size: 64px;
    letter-spacing: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid #bbbbbb;
}

.experience p {
    padding: 25px 0;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.experience a {
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
    padding: 10px 18px;
    border-radius: 50px;
    border: 1px solid #6081AC;
    background-color: #6081AC;
    transition: all 0.3s ease 0s;
    align-self: flex-start;
}

.experience a:hover {
    background-color: rgba(96, 129, 172, 0.8);
}

@media (max-width: 450px) {
    .experience {
        width: 300px;
        height: 150px;
    }
    
    .experience .title {
        font-size: 44px;
    }

    
}

/* ABOUT ME */ 

.aboutMe {
    display: flex;
    flex-direction: column;
    background-color: #2F425B;
    width: 400px;
    height: 260px;
    border-radius: 20px;
}

.aboutMe .title {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

.aboutMe .skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    padding-bottom: 15px;
}

.aboutMe .icons {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.aboutMe .icons .check {
    color: #7DC383;
    padding-bottom: 10px;
    padding-right: 5px;
    transition: 0.2s ease-in;
}

.aboutMe .icons .skill {
    padding: 10px 0px;
    text-align: center;
    font-size: 36px;
    transition: 0.2s ease-in;
}

.aboutMe .icons:hover .check {
    transform: translateY(-10px);
}

.aboutMe .icons:hover .skill {
    color: #7DC383;
}

.aboutMe .line {
    display: block;
    width: 75px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
    align-self: center;
}

.aboutMe .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.aboutMe .more .location {
    border-right: 1px solid white;
    padding-right: 30px;
}

.aboutMe .more .marker {
    padding: 0 5px;
}

.aboutMe .more .github {
    padding-right: 5px;
    font-size: 36px;
    color: white;
    transition: 0.1s ease-in;
}

.aboutMe .more .github:hover {
    color: #212121;
    opacity: 0.8;
}

@media (max-width: 1445px) {
    #aboutSection {
        flex-direction: column;
        align-items: center;
    }

    .experience {
        text-align: center;
        height: 300px;
    }

    .experience a {
        align-self: center;
    }

    .aboutMe {
        margin: 35px 0;
    }
}

@media (max-width: 876px) {
    .experience {
        width: 500px;
    }

    .experience h2 {
        font-size: 48px;
    }

    .experience * {
        font-size: 0.75em;
    }
}


@media (max-width: 678px) {
    .experience {
        width: 350px;
        height: 350px;
    }

}

@media (max-width: 450px) {
    .aboutMe {
        width: 350px;
        height: 250px;
    }

    .aboutMe .icons {
        width: 100px;
    }

    .aboutMe .more {
        padding: 0;
    }

    .aboutMe .more .location {
        padding-right: 15px;
        margin-left: 10px;
    }
}

/* PROJECTS */

#workSection {
    display: flex;
    justify-content: space-between;
}

.moreInfo {
    width: 456px;
    align-self: center;
}

.moreInfo .title {
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px 0;
    display: block;
}

.moreInfo .text {
    line-height: 1.25em;
}

.projects {
    display: flex;
}

.projects .project {
    margin-left: 40px;
}

#workSection .container {
    display: flex;
    flex-direction: column;
}

.project h2 {
    font-weight: 300;
    padding: 10px 5px;
}

#workSection .container .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#workSection .container .icons i {
    margin: 0 10px;
    padding: 10px;
    font-size: 1.25em;
    background-color: #016295;
    border-radius: 50%;
    color: white;
    transition: background-color 0.3s ease;
}

#workSection .container .icons i:hover {
    background-color: #010727;
}

.imageBox {
    position: relative;
    width: 400px;
}

.imageBox .image {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 7, 39, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.imageOverlay * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imageOverlay:hover {
    opacity: 1;
    border: 1px solid rgba(1, 7, 39, 0.8);
}

.imageOverlay:hover * {
    transform: translateY(0);
}

.imageOverlay .title {
    font-size: 2em;
    font-weight: bold;
}

.imageOverlay .description {
    font-size: 1.25em;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    padding: 0 5px;
} 

@media (max-width: 1640px) {
    .moreInfo {
        text-align: center;
    }

    .moreInfo .title {
        font-size: 34px;
    }

    .moreInfo .text {
        font-size: 18px;
    }

    #workSection {
        flex-direction: column;
        align-items: center;
    }

    .projects .project {
        margin: 15px 20px;
    }
}

@media (max-width: 1345px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects .project {
        margin: 15px 0;
    }

    
}

@media (max-width: 576px) {
    .moreInfo {
        width: 350px;
    }
}


/* CONTACT SECTION */

.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.contactInfo .title {
    font-size: 46px;
    font-weight: 500;
    color: #010727;
    background: #6081AC;
    padding: 9px 18px;
    margin-bottom: 10px;
}

.contactInfo .line {
    margin: 10px 0;
    width: 100px;
    height: 2px;
    background-color: #89A4C7;
}

.contactInfo .contactLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactLinks .linkBox .link {
    text-decoration: none;
    color: #89A4C7;
    padding: 10px 0;
    font-size: 26px;
    display: flex;
    padding-left: 100px;

}

.contactLinks .email {
    text-decoration: none;
    color: #89A4C7;
    font-size: 26px;
}

.contactLinks .email:hover {
    text-decoration: underline;
}

.contactLinks .link .linkInfo {
    display: block;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 14px;
    align-self: center;
    transition: all 0.2s;
    transform: translateY(10px);
    opacity: 0;
    background: #016295;
} 

.contactLinks .link:hover .linkInfo {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 768px) {
    .contactInfo {
        text-align: center;
    }
    .contactInfo .title {
        font-size: 36px;
    }
}

